<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">

	<link rel="icon" type="image/png" sizes="32x32" href="/static/icon/favicon-32x32.ico">

    <title>Raspberry</title>
	<script src="https://kit.fontawesome.com/8223c4836d.js" crossorigin="anonymous"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>


  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #333333;">
	  <div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/static/raspberryLogo.png" width="50" height="50" class="d-inline-block align-top" alt="Raspberry logo">
			Raspberry
		</a>

		  <form class="d-flex">
			  <a href="/logout" class="btn btn-outline-primary" role="button">Logout</a>
		  </form>
	  </div>
	</nav>

	<div class="container-fluid" >
		<div class="container-md ">
			&nbsp;
			&nbsp;
			<div class="row justify-content-center">
			  	<div class="col-sm-6">
					<div class="card">
                        <form method="post">
							<div class="card-body border border-2">
									<h4 class="text-center">Edit alarm</h4>
                                    <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{switch}}>
                                            <label class="form-check-label" for="flexSwitchCheckDefault">Active</label>
                                    </div>
									<div class="row">
                                        <p class="card-text">Time</p>
                                        <div class="col">
                                            <select name="alarmhour" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                {{ optionsHour | safe }}
                                            </select>
                                        </div>
                                        <div class="col">
                                            <select name="alarmminute" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                                {{ optionsMinute | safe }}
                                            </select>
                                        </div>
								    </div>
                                <p class="card-text">Repeat</p>
                                <select name="repeatoption" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" >
                                    <option value="0" {{repeat0}}>No repeat</option>
                                    <option value="1" {{repeat1}}>Repeat everyday (mo-sun)</option>
                                    <option value="2" {{repeat2}}>Repeat workdays (mo-fr)</option>
                                    <option value="3" {{repeat3}}>Repeat like my checkboxes</option>
                                </select>
                                <div class="form-check form-check-inline">
                                    <input name="option1check" class="form-check-input" type="checkbox" value="" id="option1" {{monday}}>
                                    <label class="form-check-label" for="option1">
                                        Monday
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input name="option2check" class="form-check-input" type="checkbox" value="" id="option2" {{tuesday}}>
                                    <label class="form-check-label" for="option2">
                                        Tuesday
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input name="option3check" class="form-check-input" type="checkbox" value="" id="option3" {{wednesday}}>
                                    <label class="form-check-label" for="option3">
                                        Wednesday
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input name="option4check" class="form-check-input" type="checkbox" value="" id="option4" {{thursday}}>
                                    <label class="form-check-label" for="option4">
                                        Thursday
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input name="option5check" class="form-check-input" type="checkbox" value="" id="option5" {{friday}}>
                                    <label class="form-check-label" for="option5">
                                        Friday
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input name="option6check" class="form-check-input" type="checkbox" value="" id="option6" {{saturday}}>
                                    <label class="form-check-label" for="option6">
                                        Saturday
                                    </label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input name="option7check" class="form-check-input" type="checkbox" value="" id="option7" {{sunday}}>
                                    <label class="form-check-label" for="option7">
                                        Sunday
                                    </label>
                                </div>
                                <br>
                                <br>
                                <select name="alarmsound" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                                    <option value="0" {{sound0}}>Classic</option>
                                    <option value="1" {{sound1}}>WAKE UP</option>
                                    <option value="2" {{sound2}}>Star Wars</option>
                                    <option value="3" {{sound3}}>Londonbridges</option>
                                </select>
                                <br>
                                <div class="text-center">
                                    <button class="btn btn-outline-primary" type="submit">Add alarm</button>
                                    <button class="btn btn-outline-danger" type="button" role="button" onclick="location.href='/clock'">Cancel</button>
							    </div>
							</div>
                        </form>
					</div>
                    {{ alarms | safe }}
			  	</div>
			</div>
		</div>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>